---
/**
 * ServicesCard — Tarjeta de servicio
 */
interface Props {
  title: string;
  icon: any;
  description: string;
  highlight: string;
}

const { title, icon: Icon, description, highlight } = Astro.props;
---

<div class="bg-emerald-50 dark:bg-emerald-950 rounded-xl p-6 md:p-8 flex flex-col justify-between h-80 ">
  <div class="flex justify-between items-center mb-6">
    <h3 class="font-display text-xl md:text-2xl text-fg font-bold italic">{title}</h3>
    <Icon class="w-12 h-12" />
  </div>
  
  <div class="flex flex-col">
    <p class="font-body text-fg-secondary dark:text-fg text-sm mb-4">{description}</p>
    <p class="font-display text-sm text-accent-green font-bold italic">{highlight}</p>
  </div>
</div>
