---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Header from "../components/Header.astro";
import WhoAre from "../components/WhoAre.astro";
import Services from "../components/Services.astro";
import Teams from "../components/Teams.astro";
import Separator from "../components/Separator.astro";
import Collab from "../components/Collab.astro";
import Tech from "../components/Tech.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Inicio">
  <Navbar />
  <Header />
  <main>
    <WhoAre>
      <Fragment slot="heading">Quiénes somos</Fragment>
    </WhoAre>

    <Services>
      <Fragment slot="heading">Servicios</Fragment>
    </Services>

    <Teams>
      <Fragment slot="heading">Equipos</Fragment>
    </Teams>

    <Separator />

    <Collab>
      <Fragment slot="heading">Colaboración</Fragment>
    </Collab>

    <Tech>
      <Fragment slot="heading">Tecnología</Fragment>
    </Tech>
  </main>

  <Footer />
</Layout>
